@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../../images//paper-image-edited.jpg); height: 100vh; background-size:2000px 1600px;">
    <h1 style="color:white;">TaskPlanner</h1>
    <p class="lead" style="color:white;">TaskPlanner is a free website that lets you store all of your tasks at the same place, and track your progress easely.</p>
    <br />
    <br />
    <br />
    <br />
    <p class="text-center align-middle">Start using this page by logging in, or registering if you dont allready have an account.</p>
    <br />
    <!--<div style="display:flex; justify-content:space-around; max-width:400px; margin:auto;">
        <button href="@Url.Action("Login", new { id = "loginLink" })"
                class="btn btn-success btn-lg">
            Login
        </button>  
        <button href="@Url.Action("Login", new { id = "loginLink" })"
                class="btn btn-primary btn-lg">
            Register
        </button> 
    </div>-->
</div>

<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->