@model  TaskPlanner.Models.Task

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tableDiv"></div>
<div id="taskCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "Tasks", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            <div class="col-md-10">
                <strong>New task:</strong>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                <!--<button name="add-button" type="button" value="BuildTaskTable" class="btn btn-success hidden-lg" style="margin-top:5px;">Add</button>-->
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
